body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.left{
    width: 200px;
}
#display{
    border: solid 1px grey;
    border-radius: 5px;
    height: 30px;
    margin: 0px 15px;
    margin-bottom: 10px;
    text-align: end;
    align-content: center;
    padding: 0px 5px;
}
#numpad{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: 200px;
    justify-content: center;
}
#numpad button{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
#operations{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50px;
}
#operations button{
    font-size: larger;
    height: 50px;
    width: 50px;
    background-color: black;
    border: solid 2px #ccc;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#operations button:last-child{
    background-color: orange;
}
button:hover{
    background: #ddd;
    border-radius: 5px;
}
button:active{
    transform: scale(0.95);
}